<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{n}hats.com domains</title>
    <style>
        body { max-width: 800px; font-family: sans-serif; margin: auto; }
        dt { font-weight: bold; }
        img { max-width: 100%; box-shadow: 0 0 10px 10px lightgray; }
        img:hover { box-shadow: 0 0 10px 10px darkgray}
        h3 { margin-top: 100px; }
        * { line-height: 1.5em; }
    </style>
</head>
<body>
    <h1>{n}hats.com domains</h1>
    <h3>Summary</h3>
    <ul>
    {{range .}}
        {{if .Available}}
        <li><a href="#{{.DomainName}}">{{.DomainName}}</a> &ndash; Available!</li>
        {{else}}
        <li><a href="#{{.DomainName}}">{{.DomainName}}</a> &ndash; Registered since {{(parseTime .DomainInfo.CreatedDate).Format "Mon Jan 2 2006" }}</li>
        {{end}}
    {{end}}
    </ul>
    {{range .}}
    <h3 id="{{.DomainName}}">{{.DomainName}}</h3>
    <dl>
        <dt>Fetched</dt>
        <dd>{{.FetchTime.Format "Mon Jan 2 15:04:05 -0700 MST 2006" }}</dd>
        <dt>Owner</dt>
        <dd><a href="mailto:{{.Registrant.Email}}">{{.Registrant.Name}} &lt;{{.Registrant.Email}}&gt</a></dd>
        {{if not .Available}}
        <dt>Since</dt>
        <dd>{{(parseTime .DomainInfo.CreatedDate).Format "Mon Jan 2 2006" }}</dd>
        {{end}}
        {{with .Title}}
        <dt>Title</dt>
        <dd>{{.}}</dd>
        {{end}}
        {{with .Notes}}
        <dt>Notes</dt>
        <dd>{{.}}</dd>
        {{end}}
    </dl>
    {{if .ScreenshotURL}}
    <a href="http://{{.DomainName}}">
        <img src="{{.ScreenshotURL}}" alt="screenshot of {{.DomainName}} as of {{.FetchTime.Format "Mon Jan 2 15:04:05 -0700 MST 2006" }}">
    </a>
    {{end}}
    {{end}}
</body>
</html>
